* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: 'Rubik', sans-serif;
    color: #eee;
}

h1 {
    font-size: 32px;
}

h1, h2, h3 {
    margin: 0px 16px;
    font-weight: normal;
    line-height: 30px;
}

#container {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

#viz {
    width: 100%;
    display: block;
}

#controls {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: right;
}

@media screen and (min-width: 540px) {
    #container {
        flex-flow: row nowrap;
    }

    #viz {
        width: 60%;
    }

    #controls {
        width: 40%;
    }
}

#controls>div {
    padding-top: 8px;
}

#display-buttons {
    display: flex;
    flex: inherit;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#street-classes {
    display: flex;
    flex: 4 auto;
    margin: 0;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.street-class-button {
    flex: 4 auto;
    outline: 0.5px solid #eee;
    text-align: center;
    cursor: pointer;
    color: #eee;
    margin: .25em;
    padding: .5em;
}

.street-class-button:hover {
    text-shadow: 1px 1px 2px #eee;
}

.street-class-button.shown {
    background-color: #444;
}

#park-types {
    display: flex;
    flex: 1 auto;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.park-type-button {
    flex: 4 auto;
    outline: 0.5px solid #eee;
    text-align: center;
    cursor: pointer;
    color: #eee;
    margin: .25em;
    padding: .5em;
}

.park-type-button:hover {
    text-shadow: 1px 1px 2px #eee;
}

.park-type-button.shown {
    background-color: #464;
}

.court-image>img {
    width: 100%;
    display: block;
}

.intersect-streets {
    display: inline;
    cursor: pointer;
    text-decoration: underline dotted #eee;
}

#streetname-display {
    position: absolute;
    font-size: 2em;
    left: 4px;
    bottom: 4px;
}

/*  SVG ELEMENT STYLES */

.street {
    stroke-opacity: 0.0;
    stroke: #eee;
}

.street.shown {
    stroke-opacity: 0.7;
}

.street.highlighted {
    stroke-opacity: 1.0;
}

.park {
    fill-opacity: 0.0;
    stroke-width: 0;
    fill: #84bd84;
}

.park.shown {
    fill-opacity: 1.0;
}

.park:hover {
    stroke-width: 1px;
    stroke: #eee;
}

ellipse.ball_court {
    rx: 6px;
    ry: 6px;
    fill: #ebaf1a;
    stroke-width: 1px;
    stroke: #333;
}

ellipse.ball_court.active {
    rx: 8px;
    ry: 8px;
    stroke: #eee;
}

ellipse.ball_court:hover {
    rx: 10px;
    ry: 10px;
}
