* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: 'Rubik', sans-serif;
    color: #eee;
}

h1, h2 {
    margin: 0 8px;
    font-weight: normal;
    line-height: 24px;
}

#container {
    display: block;
}

#viz {
    position: relative;
    width: 60%;
    display: inline-block;
}

#court-info {
    position: absolute;
    bottom: 0%;
    text-align: right;
}

.court-image>img {
    width: 100%;
}

.intersect-street {
    display: inline;
}

.street {
    stroke-opacity: 0.0;
    stroke: #eee;
}

.street.shown {
    stroke-opacity: 1.0;
}

.street.highlighted {
    stroke-opacity: 0.7;
    stroke: red;
}

.street-class-button {
    display: inline-block;
    outline: 1px solid white;
    cursor: pointer;
    color: #eee;
    margin: .5em;
    padding: .5em;
}

.street-class-button.shown {
    background-color: #444;
}

#streetname-display {
    position: absolute;
    font-size: 2em;
    right: .5em;
    bottom: .5em;
}

#controls {
    width: 40%;
    float: right;
    display: inline-block;
}

circle.ball_court {
    r: 6px;
    fill: red;
}

circle.ball_court.highlighted {
    r: 8px;
    fill: green;
}
